/* App.css */
.container1 {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 90vh; /* Set a maximum height to limit the scrolling area */
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer/Edge */
    margin-top: 10px; /* Add top margin to create space between the navbar and the form */
  }
  
  .container::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar for WebKit-based browsers (e.g., Chrome, Safari) */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .input-error {
    color: red;
  }
  
  .edit-icon
  {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
  }

  .edit-icon-label
  {
    width: 100%;
  }