body {

    #app {

    .card-body
    {
        background-color: teal ;
    }

      .card {
        width: 250px;
        // overflow: auto;
      }
  
      #circle-avatar {
        display: grid;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ffbd30;
        place-items: center;
  
        span {
          font-size: 48px;
          font-weight: bold;
        }
      }
    }
  }